<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>
            [*Tests*]*,[*Benchmark*]*,[xunit*]*,[nunit*]*,[*]*.Migrations.*,[*]*.Data.Migrations.*</Exclude>
          <ExcludeByAttribute>
            GeneratedCodeAttribute,CompilerGeneratedAttribute,MigrationAttribute,DbContextAttribute</ExcludeByAttribute>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
